.post
  %h2= link_to article.title, article_path(article)
  %p.post_header
    ~"// Author:"
    = link_to article.user.nickname, user_path(article.user)
    %br
    ~"// Date: #{article.created_at} | "
    %time.timeago{ datetime: article.created_at.to_s(:timeago) }
    %br
    - if current_user? article.user
      ~ "// TODO: "
      != (edit_link article) + ", " + (delete_link article ) + " ect..."
  %p= article.content.html_safe
  %p.post_footer
    - if article.modified?
      ~ "// Modified: #{article.updated_at} | "
      %time.timeago{ datetime: article.updated_at.to_s(:timeago) }
      %br 
    != "#define TAGS '#{tag_list article}'"