- provide(:title, "New Post")

%h2 New Post

- @article.tags.build
= form_for @article do |f|
  = f.hidden_field :user_id
  %p
    = f.label :title
    %br
    = f.text_field :title, class: "input wide"
  %p
    = f.label :content
    %br
    = f.text_area :content, class: "input"
  %p
    = f.label :tags
    = render partial: 'tags/form', locals: { tags: @article.tags }   
  %p
    = f.submit value: "Post", class: "input"
    %input.input{ type: "button", value: "Cancel", id: "cancel" } 
