- provide(:title, "Tagged '#{@tag}'")

%h2 Tagged with '#{@tag}'

- if @articles.empty?
  %h3 Ain't nothin got that tag, son.
  
- @articles.each do |a|
  .post
    %h3= link_to a.title, article_path(a)
    %p
      %span= a.content.truncate(100)
      = link_to "(more)", article_path(a)
      %span.post_footer
      ~ "// posted "
      %time.timeago{ datetime: a.created_at.to_s(:timeago) }