!!! 5
%html
  %head
    %title= (yield(:title) + raw(" &mdash; ") unless yield(:title).nil?) + "a.b.strider-"
    %link{href: "/assets/favicon.png", rel: "icon", type: "image/png"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header
        = render 'shared/banner'      
        .subheader :: alt.binaries.strider- ::
      .sidebar
        %ul
          %li
            = link_to "Home", root_path
          %li
            = link_to "Archive", archive_path
          / %li
          /  %a{ href: "#"} Projects
        - if authenticated?
          %ul
            %li
              = link_to "New Post", new_article_path
            %li
              = link_to "Footer Links", links_path
        %p - current crew -
        %ul
          - users.each do |u|
            %li= link_to u.nickname, user_path(u)
        %p
          %span Maybe some content here or something, who cares            
      .content
        - flash.each do |key,msg|
          .message
            %span= msg
            %a{href: "#", class: "close", title: "close"} X 
        = yield
      .footer
        - personal_links.each do |link|
          %a{href: link.link, title: link.title, target: "_blank" } [#{link.code}]
        .account
          - if authenticated? 
            != "<" + (link_to current_user.nickname, profile_path) + ">"
            = link_to "[l-]", logout_path, method: "delete"
          - else          
            = link_to "[l+]", login_path